# Forcer les fins de ligne Windows (CRLF) pour les scripts batch
*.bat   text eol=crlf
*.cmd   text eol=crlf

# Forcer les fins de ligne Unix (LF) pour les scripts shell
*.sh    text eol=lf
mvnw    text eol=lf
